.chatButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

.chatIcon {
  display: block;
  width: 60px;
  height: 60px;
  background-color: #25d366; /* Verde de WhatsApp */
  color: #fff;
  text-align: center;
  line-height: 60px;
  border-radius: 50%;
  font-size: 24px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.chatIcon:hover {
  background-color: #128c7e; /* Verde oscuro de WhatsApp al pasar el cursor */
}
